<!doctype html>

<head lang="pt-BR">
  <title>Plataforma Aprendizado IoT</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />
  <link rel="icon" type="image/png" href="/imagens/icones/cookiejarfavicon.ico" />
  <link rel="stylesheet" href="./estilo.css" />
  <script src="./script.js"></script>


  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="blue">
  <meta name="apple-mobile-web-app-title" content="Gerenciador de Dispensa">
  <link rel="apple-touch-icon" sizes="72x72" href="/imagens/icones/cookiejar72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/imagens/icones/cookiejar144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/imagens/icones/cookiejar152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/imagens/icones/cookiejar180.png">
</head>

<body>
  <header class="headerBar dark">
    <div class="cookieImg"><img src="imagens/icones/cookiejar72.png"></div>
    <div class="appName left">Plataforma Aprendizado</div>
  </header>
  <nav id="nav" class="navBar bottom">
    <form class="fit" method="post" action="/login">
      <div class="buttonGroup">
        <button id="tab1" class="button tab" for="telaInicial">Início</button>
      </div>
    </form>
    <form class="fit" method="post" action="/login">
      <div class="buttonGroup">
        <button id="tab2" class="button tab" for="telaPerfil">Perfil</button>
      </div>
    </form>
  </nav>

  <nav id="nav2" class="navBar">
    <h1 class="blockLabel center">
      <%= (typeof name !="undefined" ? name : "" ) %>
    </h1>
  </nav>

  <div id="telaInicial" class="component">

    <div class="componentContent">
      <%# --------------- case video ----------------%>
      <% (typeof listaConteudo !="undefined" ? listaConteudo : "" )
        listaConteudo.slice().reverse().forEach((item)=> { %>
          <h1 class="blockLabel2 center"><%=item.nome%></h1>
          <% (typeof listaUsuario !="undefined" ? listaUsuario : "" )
            listaUsuario.slice().reverse().forEach((item)=> { %>
            <h3 class="blockLabel2 center">Postado por: <%=item.username%></h3>
          <% }) %>
          <% if("video"=="video" ){ %>
            <iframe width="560" height="315" src="<%=item.conteudo%>"
              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>

          <%# --------------- case video ----------------%>
          <% } else{ %>
              <h1 class="blockLabel center">>bar</h1>
              <% } %>
      <% }) %>

       <%# --------------- comments ----------------%>
                <form method="post" action="/newcontent">
                  <h1 class="componentTitle mvRight3">Comentários
                    <button id="addConteudo" class="button primary mvRight3">
                      <img src="./imagens/plus1.png" />
                    </button>
                  </h1>
                </form>

                <ul class="list mt1" id="listaComentario">
                  <% (typeof listaComentario !="undefined" ? listaComentario : "" )
                    listaComentario.slice().reverse().forEach((item)=> { %>
                    <li>
                      <label class="blockLabel2">
                        <h1 class="center">
                          <%= item.username %>
                        </h1>
                        <p class="justify">
                          <%= item.comentario %>
                        </p>
                      </label>

                    </li>
                  <% }) %>
                </ul>
    </div>
  </div>
</body>